body {
    font-family: Charter,Georgia,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}
