body {
    font-family: Charter,Georgia,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}

.site-title {text-align: center; color: #A67E79; margin-left: 10px; margin-right: 10px; margin-top: 10px;}
