body {
    font-family: Charter,Georgia,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}


.site-header {
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
